<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="cs4330.cs.utep.edu.seirimaterial">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.EditAssignment"
            android:parentActivityName=".activities.AssignmentDetails"
            android:theme="@style/GetInfoTheme"/>
        <activity android:name=".activities.AssignmentDetails"
            android:launchMode="singleTop"
            android:theme="@style/InfoDetailsTheme" />
        <activity android:name=".activities.EditCourse"
            android:parentActivityName=".activities.CourseDetails"
            android:theme="@style/GetInfoTheme" />
        <activity android:name=".activities.CourseDetails"
            android:launchMode="singleTop"
            android:theme="@style/InfoDetailsTheme" />
        <activity android:name=".activities.AddAssignment"
            android:parentActivityName=".activities.AssignmentActivity"
            android:theme="@style/GetInfoTheme" />
        <activity android:name=".activities.AssignmentActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activities.AddCourse"
            android:parentActivityName=".activities.CourseActivity"
            android:theme="@style/GetInfoTheme" />
        <activity android:name=".activities.CourseActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>